C:\Users\simon\Desktop\UNI\VHDL\VGA\simulation/
*.vho
*.sdo
*.bak
*.do
*.wlf
*.lst
*.def
*.gfx
*.dll
*.qpg
*.sft
*.xrf
*.qtl
*.qdb
*.flock
*.qmsg
*.qmsg
*.hdb
*.hdb
*.cdb
*.bpm
*.hif
simulation/modelsim/msim_transcript
simulation/modelsim/msim_transcript
simulation/modelsim/msim_transcript
